#**************** Modify variables below to match your task ****************

## AWS command line tool profile for source account and destination account.
## Make sure profiles of both accounts have proper permission to use the KMS key
## provided below, and to work with AMIs and snapshots.
AWSCLI_PROF_SRC="--profile default"
AWSCLI_PROF_DST="--profile dest"
## //

## Account ID for source account and destination account.
AWS_ACCT_ID_SRC=000000000000
AWS_ACCT_ID_DST=000000000000
## //

## Region for copying AMI / snapshot from and to.
## By default, we use same region.
REGION_FROM="us-west-2"
REGION_TO="$REGION_FROM"
#REGION_TO="us-west-2"
## //

#****************                   //                   ****************
